html, body{
    height:100%;
    width: 100%;
     background-color: #e9ebee;
}

.container{
    width:90%%;
    height:100%;
   background-color: #e9ebee;
    padding-top:20px;
    padding-bottom:20px;
     font-family: "helvetica";
     color: black;
}

.css_jour_evenement span { background: none !important; background-color: #FF0000 !important; color: blue !important; }
#formulaire{
    background-color: white;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
   margin-top:10%;
    margin-bottom: 19%;
    padding-bottom: 15px;
    padding-top: 30px;
    width: 400px;
}

.label{
	color: black;
	font-size:14px;
}

input{
	margin-bottom: 10px;
}

section{
	background-color: #84aad8;
	border: 2px solid #b5b5b5;
    line-height: 40px;
}

.accelev{
	background-color:white;
	min-height:500px;
}

 header, footer {
  background-color: white;
  border: 2px solid black;
  line-height: 40px;
}
header{
	border-radius: 5px 5px 0 0;
	border: 2px solid #b5b5b5;
	border-bottom: 0px solid #b5b5b5;;
}

footer{
	text-align: center;	
	border: 2px solid #b5b5b5;
	border-top: none;
	border-radius: 0px 0px 5px 5px;
}

.lien_deco{
	text-align:right;
	color:red;
}

.btndeco{
	margin-bottom: 8px;
	padding-top:11px;
}

.alert{
font-size: 11px;
}
.alert-danger{
	width:90%;
}
.Highlighted a{
 	background-color : Green !important;
	background-image :none !important;
	color: White !important;
	font-weight:bold !important;
	font-size: 12pt;
}


.pie{
	width: 100px;
	height: 100px;
	border-radius:50%;
	background:#84aad8;
	background-image: linear-gradient(to right, transparent 50%, #d9534f 0);
	
}

#pres_eleve label{
	color: blue;
}

@keyframes spin {
	to { transform:
	rotate(0.5turn); }
}


@keyframes bg {
	50% {background: #655; }
}

.pie::before{
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 
	/ 50%;
	background-color: inherit;
	transform-origin: left;
	/*transform: rotate(0.1turn);*/
	animation: spin 50s linear infinite,
	bg 100s step-end
	infinite;
	animation-play-state: paused;
	animation-delay: inherit;
	
	
	
}

.eva_croise {
    margin-top: 50%;
}

.alertMissing{
	color : red;
}

.accMenu a{
	color: white;
}

.accMenu{margin-left:0px;}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }




/* style de tous les boutons submit */

#login_0,#addRemarques_0,#addAbscences_0, #searchEleve_0,#searchEleve2_0,#valider_btn_roles, #addFamille_0, #addCompetences_0, #addlivrable_0, #assignEleveToGroupe_0, #assignTuteurToGroupe_0, #addDeadlines_0
{
	margin-top: 2px;
	background: #84aad8;
    border: 1px solid #5a7698;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 85px;
    height: 45px;
}
#searchEleve2 {
    margin-top: 5%;
}
#searchEleve2 input{
	margin-bottom :10px;
	border-radius: 5px;
	border: 1px black solid;
}


#searchEleve2 label{
	padding-top:10px;
	line-height: 3 !important; 
}

 input {
	border-radius : 5px; 
	border: 1px black solid;
}
.champ_form form {
	width:50%;
}
.champ_form {
	margin-bottom: 5%;
}
.champ_form #addFamille{
	padding-left: 4%;
}
.table {
	border-radius : 5px;
}
.table th, .table td {
    text-align: center;
    width: 33.333%;
}
.champ_form table {
	text-align:right;
}
#addCompetences label{

}
.ttd {
	width: 33%; 
	padding-right: 5%;
	}
	
.ttd input {
	float : right;
}
.ttd label, .ttd input{
display: inline-block;
}
input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin: 4px 5px 0;
}

#rq_textaera{
	border-radius : 5px;
	border: 1px black solid;
}
#valider_btn_roles{
	margin-bottom: 3%;
}
.tdLabel {
   
    vertical-align: middle !important;
}
#searchEleve_0{
	margin-top: 10px;
}
.table_abs{
	border: 1px solid black;
	 width:100%;
}
.btn_ev	{
	margin-bottom : 10px;
	margin-top: 10px;
}
.table2{
	width: 100%;
	border-radius: 5px;
}
.table2 th, td{
	text-align : center;
	padding-right: 5px;
}
.table2 textarea {
	margin-bottom: 10px;
}